/* PAGE BORDER */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #ccc;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
    animation: fadeInLeft;
    animation-duration: 1s;
}

.page-border .right-border {
    right: 0;
    animation: fadeInDown;
    animation-duration: 1s;
}

.page-border .bottom-border {
    bottom: 0;
    animation: fadeInRight;
    animation-duration: 1s;
}

.page-border .left-border {
    left: 0;
    animation: fadeInUp;
    animation-duration: 1s;
}

#wrapper {
    margin:0 15px;
    padding: 15px 0;
    position: relative;
    animation: fadeIn;
    animation-duration: 1.5s;
}

/* BANNER */

#banner {

    background-size: cover;
    outline: none;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col-38 {
    width: 38.2%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
    background: #d2b356;
}

.section-heading:after {
    background:#d2b356;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.section-heading {
    padding: 0 0 15px 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

#banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:62px;
    line-height:60px;
    font-weight:800;
    color:#111;
    animation: fadeInRight;
    animation-duration: 1.5s;
}

#banner h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:18px;
    font-weight:300;
    color:#111;
    animation: fadeInRight;
    animation-duration: 1.5s;
    line-height: 25px;
}

/* HEADER */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header nav a {
    line-height: 71px;
    padding: 0 10px;
}

#header nav a:hover {
    opacity: 0.6;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
    float: right;
}

#header ul {
    text-align: center;
}

#header nav ul {
    text-transform: uppercase;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

#header nav a, #header i {
    color:#111;
}

/* LOGO */

#logo {
    float: left;
    margin-right: 15px;
}

#logo img {
    max-height: 70px;
    margin-right: 15px;
}

.col-1 {
    width: 100%;
}

/* SOCIAL ICONS */

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
}

#header .social-icons {
    margin-top: 27px;
}

.social-icons a:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.social {
    font-size: 20px !important;
}

/* GENERAL LAYOUT */

body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:15px;
    font-weight:normal;
    color:#111;
}

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 25px 0;
    position: relative;
}

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: calc(100vh - 0px);
    background-color: #ffffff; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#content h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:40px;
    line-height:60px;
    font-weight:800;
    color:#111;
}

.bullet, .bullet2, .bullet3, .bullet4 {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;    
}

.line, .line2{
    width: 5px;
    height: 0px;
    background-color: black;
    opacity: 0;
    border-style: none;
    margin-left: 10px;
}

.line3, .line4 {
    width: 5px;
    height: 0px;
    background-image: linear-gradient(black 70%, white);
    opacity: 0;
    border-style: none;
    margin-left: 10px;
}

.timeline {
    margin-left: 10%;
    margin-top: 5%;
    height: 800px;
}

.timeline2 {
    margin-left: 10%;
    margin-top: 5%;
    height: 530px;
}

.left-s-card {
    margin-left: 10%;
    height: 350px;
    width: 40%;
}

.right-s-card {
    float: right;
    width: 45%;
}

.e-card {
    float: right;
    width: 85%;
    opacity: 0;
}

.e-card h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:25px;
    line-height:37px;
    font-weight:600;
    color:#111;
    margin-bottom: 5px;
}

.e-card h3, .right-s-card h2, .left-s-card h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:20px;
    font-weight:500;
    color:#111;
    margin-top: 0px;
    margin-bottom: 5px;
}

.e-card h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:17px;
    font-weight:500;
    color:gray;
    margin-top: 0px;
}

.e-card li {
    line-height: 30px;
    font-size: 20px;
}

#content {
    margin-top: 120px;
}

.star-rows {
    float:right;
    width: 55%;
}

.star-row {
    margin-top:5px; 
    padding-bottom: 12px;
}

.star-rows i {
    color: #d2b356;
}

.skill-blink {
    opacity: 0;
}